// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$cairo: 'Cairo', sans-serif;

// Colors


// App
$head-height: 42px;

// Dark App
$bg-dark: #202020;
$text-dark: #FFFFFF;
$secondary-dark: #282828;

// Light App
$bg-light: #eeeeee;
$text-light: #040404;
$headbg-light: #d3d3d3;
